* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.App {
  text-align: center;
}

.header {
  padding: 12px 0;
  background: #0396c2;
  text-align: center;
  width: 100%;
  height: 60px;
}

Map {
  width: 60vw;
  height: 100%;
}

.header h1 {
  color: #f0f8ff;
}

.menu {
  background-color: #104555;
  color: #f0f8ff;
  padding: 15px 0;
  width: 30%;
  height: 91vh;
  position: absolute;
  margin-top: 60px;
  border-radius: 5px;
}

.search-input {
  width: 80%;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 5px;
}

.menu ol {
  display: flex;
  flex-wrap: wrap;
}

.menu ol li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #14576b;
  width: 100%;
}

.menu ol li:hover {
  color: #f0f8ff;
  background-color: #165f76;
}

.menu-btn {
  margin-top: 5px;
  margin-left: 290px;
  padding-left: 10px;
  width: 120px;
  height: 40px;
  background-color: #0396c2;
  color: #f0f8ff;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 2px 5px 10px #14576b;
}

.menu-btn:hover {
  background-color: #25a5cc;
  box-shadow: 2px 4px 8px #14576b;
}

.menu-btn:focus {
  background-color: #c21603;
}

.slideIn {
  transform: translateX(0);
}

.slideOut {
  transform: translateX(-100%);
}

.gmerror{
  margin: 25% auto;
}