* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.App {
  text-align: center;
}

.header {
  padding: 12px 0;
  background: #0396c2;
  text-align: center;
  width: 100%;
  height: 60px;
 
 
}


Map {
  width: 60vw;
  height: 100%;
}

.header h1 {
  color: #f0f8ff;
}



.menu {
  background-color: #104555;
  color: #f0f8ff;
  padding: 15px 0;
  width: 100%;
  height: 170px;


}

.search-input{
  width: 80%;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 5px;
}

.menu ol{
  display: flex; 
  flex-wrap: wrap; 
}

.menu ol li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #14576b;
  width: 20%;
}

.menu ol li:hover {
  color: #f0f8ff;
  background-color: #165f76;
}

.menu-btn::before{
  content:"\A";
}

.menu-btn {
  
  margin-top: 5px;
  width: 100px;
  height: 40px;
  background-color: #41a2fd;
  color: #f0f8ff;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
}


.slideIn {
  transform: translateY(0);
}

.slideOut {
  transform: translateY(150%);
}
